body {
    font-family: 'Raleway', sans-serif;
}




.navbar-dark {
    background-color: black;

}

.items-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 70px;
    font-size: 18px;
    font-weight: bold;

    .color-link:link {
        color: white;
    }

    .nav-link:hover {
        color: #b7999c;
    }
}