*{
    margin: 0;
    padding: 0;
}




body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding-bottom: 150px;
}




.navbar-dark {
    background-color: black;

}

.items-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    .color-link:link {
        color: white;
        border-radius: 20px;
    }

    .nav-link:hover{
        
        background-color: white ;
        color: #b7999c;

    }
    .nav-link.active
    {
        background-color: white ;
        color: #b7999c;
        
        
    }
}

/* carrousel */
.slide img {
    height: 350px;
}

/* MODIFICACION DE div:contenido e IMAGENES EN INDEX */

.contenido {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
}

.item {
    margin: 20px;
    padding: 10px;
}

.separacion-card {
    margin-block-end: 20px;

}
.h1index{
    text-align: center; 
    color: white;
    border-radius: 20px;
    background-color: #b8336a;
    font-weight: bold;
}

/* elementos del footer con subs*/
footer {

    background-color: #b7999c;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    
    

    .alineacionapps {
        display: flex;
        justify-content: center;
    }

    .appsImg {
        width: 50px;
        margin: 8px;
    }

    .textfooter {
        text-align: center;
        color: black;
        font-size: 17px;
        font-weight: bold;
    }

}

/* FORMULARIO DE SUBS*/
.formulario {
    background-color: black;
    height: 250px;

    .elementosfooter {
        margin-inline: 30px;
    }

    .foot {
        margin-block-end: 10px;
    }

    .botonEnviar {
        margin: auto;

    }
}


/* Contenido novedades*/
.contenidoNovedades {
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;

    .mundo {
        color: #b8336a;
    }

    .moda {
        color: #a675a1;
    }
}
.tituloNov {
    color: #a675a1;
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}

.textosub {
    color: #8c7a6b;
    font-size: 17px;
    text-align: start;

}

/*PAGINA CONTACTO*/
.contacto {
    background-color: #b7999c;

}

.formcont {
    width: 450px;
    height: 490px;
    display: flex;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10%;
}
.iconoGris{
width: 100px;
margin: auto;
display: block;
margin-bottom: 15px;
}
.alineacionapps {
    display: flex;
    justify-content: center;
}

.appsImg {
    width: 50px;
    margin: 8px;
}
.prueba {
    display: flex;
    
}
.contenidoContacto{
    text-align: center;
    background: white;
    
    padding: 30px;
    width: 60%;
    display: flex;
    margin-right: 50px;
    border-radius: 10%;
    height: 490px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 30px;

}

/* tienda */

.maintienda{
margin-top: 10px;
margin-left: 30px;
margin-right: 30px;
margin-bottom: 20px;


}
.conttienda{
    display: flex;
    margin: auto;
    

}

.cardtienda {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
}