* {
    margin: 0;
    padding: 0;
}

$title-sometext-color: #b8336a;
$sub-title-color: #8c7a6b;
$background-color-footnav: black;
$another-text-color: #a675a1;

@media screen and (max-width: 600px) {
    .conttienda {
        width: 60%;
    }
    
}

    
@import url(_footer.sass);
html{
    height: 100%;
}


body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding-bottom: 150px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}


.logo{
    width: 50px;
}

/* estilo en contenido general*/
h1 {
    color: $title-sometext-color;
}

p {
    color: $sub-title-color;
    font-size: 16px;

}

h3 {
    font-size: 21px;
    font-style: italic;
}

.navbar-dark {
    background-color: black;

}

.items-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    .color-link:link {
        color: white;
        border-radius: 20px;
    }

    .nav-link:hover {

        background-color: white;
        color: #b7999c;

    }

    .nav-link.active {
        background-color: white;
        color: #b7999c;


    }
}

/* carrousel */
.slide img {
    height: 350px;
}

/* MODIFICACION DE div:contenido e IMAGENES EN INDEX */

.contenido {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
    
}

.item {
    margin: 20px;
    padding: 10px;
}

.separacion-card {
    margin-block-end: 20px;

}

.h1index {
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #b8336a;
    font-weight: bold;
}


/* elementos del footer con subs*/
footer {
    position: absolute;
 margin-top: auto;
    background-color: #b7999c;
    height: 150px;
    width: 100%;
 bottom: 0;


    .alineacionapps {
        display: flex;
        justify-content: center;
    }

    .appsImg {
        width: 50px;
        margin: 8px;
    }

    .textfooter {
        text-align: center;
        color: black;
        font-size: 17px;
        font-weight: bold;
    }

}

/* FORMULARIO DE SUBS*/
.formulario {
    background-color: black;
    height: 250px;
   

    .elementosfooter {
        margin-inline: 30px;
    }

    .foot {
        margin-block-end: 10px;
    }

    .botonEnviar {
        margin: auto;

    }
}


/* Contenido novedades*/
.contenidoNovedades {
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;

    .mundo {
        color: #b8336a;
    }

    .moda {
        color: #a675a1;
    }
}

.tituloNov {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background-color: $title-sometext-color;
    padding: 20px;

}

.textosub {
    color: #8c7a6b;
    font-size: 17px;
    text-align: start;

}

/*PAGINA CONTACTO*/


.formcont {
    flex: 1;
    width: 450px;
    height: 490px;
    display: flex;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10%;
    min-width: 300px;
}

.iconoGris {
    width: 100px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

.alineacionapps {
    display: flex;
    justify-content: center;
}

.appsImg {
    width: 50px;
    margin: 8px;
}

.prueba {
    display: flex;
flex-wrap: wrap;
min-height: 100%;

}

.contenidoContacto{
    flex: 2;
    text-align: center;
    background: white;

    padding: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    margin-right: 50px;
    border-radius: 10%;
    height: 490px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    min-width: 300px;
    .titulocontacto {
        font-weight: bold;
        font-style: italic;
    }
}



/* tienda */

.maintienda {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;


}

.conttienda {
    display: flex;
    margin: auto;


}

.cardtienda {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.btn {
    background-color: $title-sometext-color;
    border-color: $title-sometext-color;
}

.card-title {
    font-size: 30px;
    color: #b7999c;
}

/*nosotros*/
.contenidonos {
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

}

.h1nos {
    background-color: $title-sometext-color ;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.textnos{
    font-size: 25px;
}